<ion-app>
	<ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				@if (backHref(); as backHref) {
					<ion-back-button [defaultHref]="backHref"/>
				} @else {
					<ion-menu-button/>
				}
			</ion-buttons>
			<ion-title>{{ titleKey() | transloco }}</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content color="light">
		<ng-content/>
	</ion-content>
	@if (previousButtonEnabled() !== undefined || nextButtonEnabled() !== undefined) {
		<ion-footer>
			<ion-toolbar>
				@if (previousButtonEnabled() !== undefined) {
					<ion-button fill="clear" [disabled]="previousButtonEnabled() === false" slot="start" (click)="clickPrevious.emit()">{{ "page.previous" | transloco }}</ion-button>
				}
				@if (nextButtonEnabled() !== undefined) {
					<ion-button fill="clear" [disabled]="nextButtonEnabled() === false" slot="end" (click)="clickNext.emit()">{{ nextButtonLabelKey() | transloco }}</ion-button>
				}
			</ion-toolbar>
		</ion-footer>
	}
</ion-app>
